@charset "UTF-8";
/**
 * Fichier de style de l'administration
 *
 * @category    StyleSheet
 * @package     Buscobon
 * @author      DESSI Alain <contact@alain-dessi.com>
 * @copyright   2016 Dessi Alain
 * @link        http://www.alain-dessi.com
 */
/**
 * Liste des Couleurs utilisé pour le back-end
 *
 * @category    StyleSheet
 * @package     Buscobon
 * @author      DESSI Alain <contact@alain-dessi.com>
 * @copyright   2016 Dessi Alain
 * @link        http://www.alain-dessi.com
 */
/*
|--------------------------------------------------------------------------
| Colors HTML
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Navbar color
|--------------------------------------------------------------------------
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  background-color: #F0F0F0;
  padding-top: 80px;
}

.full-height {
  height: 100%;
}

.box {
  display: table;
  width: 100%;
  height: 100%;
}

.box-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.login {
  width: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
  padding: 16px;
  background-color: #fff;
}

hr {
  border-color: #444;
  opacity: 0.25;
}

/* -----------------------------------------
 | BUTTON
 *------------------------------------------- */
.btn {
  border-radius: 0px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  /*box-shadow: 1px 1px 0px rgba(0,0,0,0.35);*/
}

.btn-xs {
  font-weight: 400;
  padding: 1px 6px;
  font-size: 11px;
  line-height: 1.8;
}

/* -----------------------------------------
 | Affichage des Messages
 *------------------------------------------- */
/* -----------------------------------------
 | NavBar
 *------------------------------------------- */
.navbar-default {
  position: fixed;
  background: #333333 none repeat scroll 0% 0%;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 10px;
  padding-top: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  z-index: 11;
  transition: all 200ms ease 0s;
  -moz-user-select: none;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:visited, .navbar-default .navbar-nav li .open > a, .navbar-default .navbar-nav li .open > a:focus {
  color: #D0D0D0;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus:hover, .navbar-default .navbar-nav li a:visited:hover, .navbar-default .navbar-nav li .open > a:hover, .navbar-default .navbar-nav li .open > a:focus:hover {
  color: #FFFFFF;
  background-color: #222;
}
.navbar-default .dropdown-menu li a, .navbar-default .dropdown-menu li a:focus, .navbar-default .dropdown-menu li a:visited {
  color: #222;
}
.navbar-default .dropdown-menu li a:hover, .navbar-default .dropdown-menu li a:focus:hover, .navbar-default .dropdown-menu li a:visited:hover {
  color: #222;
  background-color: #D0D0D0;
}

/* -----------------------------------------
 | Homepage
 *------------------------------------------- */
/* -----------------------------------------
 | Listes tables
 *------------------------------------------- */
.button {
  padding-top: 22px;
}

/*# sourceMappingURL=admin.theme.css.map */
