/**
 * Liste des Couleurs utilisé pour le back-end
 *
 * @category    StyleSheet
 * @package     Buscobon
 * @author      DESSI Alain <contact@alain-dessi.com>
 * @copyright   2016 Dessi Alain
 * @link        http://www.alain-dessi.com
 */

/*
|--------------------------------------------------------------------------
| Colors HTML
|--------------------------------------------------------------------------
*/
$background-page-color: #F0F0F0;
$hr-color: #444;

/*
|--------------------------------------------------------------------------
| Navbar color
|--------------------------------------------------------------------------
*/
$navbar-background: #333333;
$navbar-brand-color: #ffffff;
$navbar-link-color: #D0D0D0;
$navbar-link-color-hover: #FFFFFF;